image:
  repository: lohitha12100706/flask-todo-app
  tag: latest
  pullPolicy: Always

service:
  type: NodePort
  port: 3000
  targetPort: 3000

ingress:
  enabled: false
  host: flask-todo.local

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

replicaCount: 2
